<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div id="app-view-search-panel-search-body" class="card-body">
          <form class="form-inline">
            <div class="form-group">
              <app-tag-dropdown-list
                *ngIf="availableTags"
                [id]="filter-tag-dropdown"
                [tags]="availableTags"
                (onSelectedTagsChanged)="onSelectedTagsChangedHandler($event)">
              </app-tag-dropdown-list>
            </div>
            <div class="form-group" [style.padding-right]="'15px'">
              <app-filter-dropdown-list
                *ngIf="availableFilters"
                [id]="filter-tag-dropdown"
                [filters]="availableFilters"
                (onSelectedTagsChanged)="onSelectedFilterChangedHandler($event)">
              </app-filter-dropdown-list>
            </div>
            <div class="form-group">
              <input type="search" class="form-control" name="description" placeholder="Description...">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Transactions ({{ transactions.length }})
        </div>
        <div class="card-body">

          <app-transaction-list [transactions]="transactions"></app-transaction-list>

        </div>
      </div>
    </div>
  </div>
</div>
