<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <label>Select a rule</label>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-primary btn-flat" (click)="toggleRuleDetails()">
            Show/Hide details
          </button>
        </div>
        <select class="form-control" (change)="onRuleSelected($event.target.value)">
          <option disabled [selected]="selectedRule.id == undefined">Select a rule</option>
          <option *ngFor="let rule of rules" value="{{ rule.id }}" [selected]="selectedRule && rule.id == selectedRule.id">
            {{ rule.name }}
          </option>
        </select>
        <div class="input-group-btn">
          <button type="button" class="btn btn-flat btn-primary" (click)="newRuleOnClick()">New Rule</button>
        </div>
      </div>
    </div>
  </div>
</div>
