<div class="row" id="mt-filters-list">
  <div class="col-sm-12">
    <div class="form-group">
      <label>Select a filter</label>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-primary" (click)="toggleFilterDetails()">
            Show/Hide details
          </button>
        </div>
        <select id="mt-filters-list-filter-selector" class="form-control" (change)="onFilterSelected($event.target.value)">
          <option disabled [selected]="selectedFilter.id == undefined">Select a filter</option>
          <option *ngFor="let filter of filters" value="{{ filter.id }}" [selected]="selectedFilter && filter.id == selectedFilter.id">
            {{ filter.name }}
          </option>
        </select>
        <div class="input-group-btn">
          <button type="button" class="btn btn-primary" (click)="newFilterOnClick()">New Filter</button>
        </div>
      </div>
    </div>
  </div>
</div>
