<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Af- en bijschrijvingen</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>

        <ul>

          <ng-template ngIf [ngIf]="transactions?.length <= 0">
            <li>
              <i class="fa fa-question-circle-o bg-gray"></i>
              <div class="timeline-item">
                <h3 class="timeline-header">No transactions found for this criteria.</h3>
                <div class="timeline-body">Maybe if you change your criteria you'll find what you seek.</div>
              </div>
            </li>
          </ng-template>

          <ng-template ngFor let-transactionGroup [ngForOf]="transactionsGroupedByDate()">
            <li class="transaction-group">
              <section>
                <header class="header">
                  <h4>
                    <time>{{ transactionGroup.key }}</time>
                  </h4>
                  <span>Euro <i aria-hidden="true">(€)</i></span>
                </header>

                <ul aria-live="polite">
                  <ng-template ngFor let-transaction [ngForOf]="transactionGroup.values">
                    <li class="item">
                      <div class="button-container">
                        <div class="item-button item-primary-row">
                          <div class="item-icon size-xl" aria-label="Internetbankieren"></div>
                          <h5 class="item-heading item-word-ellipsis">{{ transaction.name }}</h5>
                          <span class="item-amount">{{ transaction.amount }}</span>
                        </div>
                      </div>
                    </li>
                  </ng-template>
                </ul>
              </section>
            </li>
          </ng-template>

        </ul>
      </div>
    </div>
  </div>
</div>
