.selected{
    border:solid #4CAF50 1px;
    float:left;
    margin:2px;
    padding:2px 15px;
}

.selected a{
    cursor:pointer;
    font-weight:bold;
}

#mt-filter-form-tag-suggestions {
    margin-top: 5px;
    border-bottom: 1px dotted #6A6E70;
}

.mt-filter-remove-selected-tag {
    cursor: pointer;
}
#mt-filter-form-selected-tags-label {
    font-weight: lighter;
    font-size: 12px;
    text-transform: capitalize;
}

.mt-filter-form-selected-tag {
    margin-right: 5px;
    font-weight: 400;
    color: #fff;
}

ul#mt-filter-form-tag-autocompletion {
    list-style-type: none;
    padding: 0;
    border-top: 1px dotted #6A6E70;
    margin: 0;
    cursor: pointer;
}

ul#mt-filter-form-tag-autocompletion li {
    padding: 10px;
}

.mt-filter-form-tag-autocompletion-item {

}
ul#mt-filter-form-tag-autocompletion li:hover {
    color: #fff;
    background-color: #55B5DB;
}

#mt-filter-archived-transactions {
  margin-left: 15px;
}

#mt-filter-untagged-transactions {
  margin-right: 15px;
}

.checkbox label {
  min-height: 20px;
  padding-left: 6px;
  margin-bottom: 0;
  font-weight: 300;
  cursor: pointer;
  font-size: 17px;
  top: 3px;
  position: relative;
}
