<div class="row">
  <div class="col-md-12">
    <mt-filter-list [(selectedFilter)]="filter" [filters]="availableFilters"
                    (newOnClick)="newOnClick($event)" (onFilterSelected)="onFilterSelected($event)"
                    (toggleFilterDetailsOnClick)="toggleFilterDetailsOnClick($event)"></mt-filter-list>
  </div>
  <div class="col-md-12">
    <mt-filter-form [errors]="errors" [errorMessage]="errorMessage" [filter]="filter" [availableTags]="tags"
                    (deleteOnClick)="deleteOnClick($event)" (saveOnClick)="saveOnClick($event)"
                    [selectedTags]="filter.tags" [collapsed]="filterFormCollapsed"></mt-filter-form>
  </div>
</div>
