<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <mt-filter-list [selectedFilter]="filter" [filters]="filters"
                    (newOnClick)="newOnClick($event)" (onFilterSelected)="onFilterSelected($event)"></mt-filter-list>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <mt-filter-form [errors]="errors" [errorMessage]="errorMessage" [filter]="filter" [availableTags]="tags"
                    (deleteOnClick)="deleteOnClick($event)" (saveOnClick)="saveOnClick($event)"
                    [selectedTags]="filter.tags"></mt-filter-form>
  </div>
</div>
