<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">

      <li class="header">MAIN MENU</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="active"><a routerLink="/"><i class="fa fa-link"></i> <span>Search transactions</span></a></li>
      <li><a href="#"><i class="fa fa-link"></i> <span>Filters</span></a></li>

      <li class="header">
        REPORTS
        <span class="pull-right-container">
          <a [routerLink]="['/reports', 'new']" class="pull-right">
            <i class="fa fa-plus-circle text-info" aria-hidden="true"></i>
          </a>
        </span>
      </li>
      <li [hidden]="reports?.length > 0"><a>No reports found</a></li>
        <li *ngFor="let report of reports">
          <a>
            {{ report.name }}
            <span class="pull-right-container">
              <a [routerLink]="['/reports', report.id, 'configure']" class="pull-right">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </a>
            </span>
          </a>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
