<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">

      <li class="header">MAIN MENU</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="active"><a routerLink="/"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>
      <li><a href="#"><i class="fa fa-link"></i> <span>Filters</span></a></li>
      <li><a href="#"><i class="fa fa-link"></i> <span>Reports</span></a></li>

      <li class="header">Reports</li>
      <li class="active"><a routerLink="/reports/1">Report #1</a></li>

    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
