<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">

      <li class="header">MAIN MENU</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="active"><a routerLink="/"><i class="fa fa-search"></i> <span>Search transactions</span></a></li>
      <li><a routerLink="/filters"><i class="fa fa-link"></i> <span>Filters</span></a></li>

      <li class="header">
        REPORTS
      </li>
      <li>
        <a [routerLink]="['/reports', 'new']">
          <i class="fa fa-plus-circle text-info" aria-hidden="true"></i>
          <span>Add new report</span>
        </a>
      </li>
      <li [hidden]="reports?.length > 0"><a>No reports found</a></li>
      <li *ngFor="let report of reports">
        <a [routerLink]="['/reports', report.id]">
          <i *ngIf="report.icon" class="fa" [ngClass]="report?.icon" aria-hidden="true"></i>
          <span>{{ report.name }}</span>
        </a>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
