// Here you can add other styles

$enable-rounded: true !default;
$box-shadow-color: rgba(0,0,0,0.1);

@mixin border-radius($radius: $border-radius) {
  border-radius: $radius;
}

.social-box {
  &.expenses {
    i {
      color: #fff;
      background: $youtube;
    }
  }

  &.income {
    i {
      color: #fff;
      background: $xing;
    }
  }
}


.app-header.navbar {
  .navbar-brand {
    padding: 0 0 0 1rem;
    line-height: 53px;
  }
}

.card {
  box-shadow: 0 1px 5px 2px $box-shadow-color;

  .card-header {
    box-shadow: 0 0 1px 1px $box-shadow-color;
  }
}


.dropdown-item {
  border-bottom: 0;

  &.active, &:active {
    background-color: white;
  }
}

.menu-item:hover {
  text-decoration: none;
}
